.nav-menu {
	position: fixed;
	bottom: 16px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	background-color: #ffffff; 
	padding: 4px;
	border-radius: 16px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

	@media (min-width: 1024px) {
		bottom: 50%;
		left: 16px;
		transform: translateY(50%);
	}

	.nav-list {
		display: flex;
		gap: 24px;
		list-style: none;

		@media (min-width: 1024px) {
			flex-direction: column;
		}
	}
}